In [1]:
import pandas as pd
import re
import string
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

In [8]:
df = pd.read_csv('data_pandas/7_classification_cutoff.csv',encoding='utf-8')

In [23]:
df.columns

Index(['organizations', 'classification', 'affiliations', 'auth-keywords',
       'publish_name', 'subject-cluster', 'combined_text'],
      dtype='object')

In [ ]:
# Combine text columns
df["combined_text"] = " classification: " + df["classification"] +  " publish_name: " + df["publish_name"] + \
                                    " auth-keyword: " + df["auth-keywords"] + " organizations" + df["organizations"] +  " affiliations: " + df["affiliations"]

# Clean text
def clean_text(text):
    # Remove brackets and extra quotes
    text = re.sub(r"[\[\]']", "", str(text))
    # Replace multiple spaces with a single space
    text = re.sub(r"\s+", " ", text)
    return text.strip()

# Normalize text
def normalize_text(text):
    # Lowercase the text
    text = text.lower()
    # Remove punctuation
    text = text.translate(str.maketrans("", "", string.punctuation))
    return text

df["combined_text"] = df["combined_text"].apply(clean_text)
df["combined_text"] = df["combined_text"].apply(normalize_text)
df["combined_text"] = df["combined_text"].replace(r'\n',' ', regex=True)
df["combined_text"] = df["combined_text"].replace(r'\t',' ', regex=True)
df["combined_text"] = df["combined_text"].replace(r'\r',' ', regex=True)
df["combined_text"] = df["combined_text"].replace(r'\s+',' ', regex=True)

In [24]:
df['subject-cluster'] = df['subject-cluster'].astype(str)

In [25]:
df['subject-cluster'] = df['subject-cluster'].apply(normalize_text)

In [52]:
df_final = df[['combined_text','subject-cluster']]
df_final.describe()

,combined_text,subject-cluster
count,214663,214663
unique,115814,11
top,classification flexible classification publish...,physics and astronomy
freq,6,51973

In [51]:
df_final['combined_text'] = df_final['combined_text'].astype(str)
df_final['subject-cluster'] = df_final['subject-cluster'].astype(str)

C:\Users\Yiwahpsp\AppData\Local\Temp\ipykernel_33148\1811076636.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final['combined_text'] = df_final['combined_text'].astype(str)
C:\Users\Yiwahpsp\AppData\Local\Temp\ipykernel_33148\1811076636.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final['subject-cluster'] = df_final['subject-cluster'].astype(str)

In [53]:
df_final.head()

                                       combined_text subject-cluster
0  classification complex classification publishn...       chemistry
1  classification complex classification publishn...       chemistry
2  classification flexible classification publish...       chemistry
3  classification flexible classification publish...       chemistry
4  classification all subject journal classificat...       chemistry

In [54]:
df_final = df_final.drop_duplicates()

In [55]:
df_final = df_final.dropna()

In [56]:
df_final.describe()

,combined_text,subject-cluster
count,214645,214645
unique,115814,11
top,classification subject abbreviation publishnam...,physics and astronomy
freq,6,51970

In [57]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Index: 214645 entries, 0 to 214662
Data columns (total 2 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   combined_text    214645 non-null  object
 1   subject-cluster  214645 non-null  object
dtypes: object(2)
memory usage: 4.9+ MB

In [58]:
df_final.to_csv("final/combined_text.csv", encoding='utf-8', index=False)